<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pokemonCounterThing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pokemonCounterThing.Properties.Settings>
            <setting name="csKeybind0" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="csKeybind1" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="csKeybind2" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="csKeybind3" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="csKeybind4" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="csKeybind5" serializeAs="String">
                <value>H</value>
            </setting>
        </pokemonCounterThing.Properties.Settings>
    </userSettings>
</configuration>